<div id="<%= dom_id article %>">
  <p>
    <strong>Titulo:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= article.status %>
  </p>

  <p>
    <strong>Usuário:</strong>
    <%= article.user_id %>
  </p>

</div>
