/* Estilos para Fontes */
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


/* Estilos para Animações */
.card-hover-effect {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card-hover-effect:hover {
  transform: scale(1.02);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.content-fade-in {
  animation: fadeIn 0.5s ease-out;
}


/* --- TRANSIÇÃO SUAVE PARA O MODO NOTURNO --- */

/* Aplicamos a transição aos principais elementos de bloco e componentes */
body, .card, .card-header, .card-footer, .bg-light, .modal-content {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Para botões e links, que têm mais propriedades que mudam (como bordas) */
.btn, a {
  transition: background-color 1s ease, color 1s ease, border-color 1s ease;
}